.weather-box {
    min-height: 250px;
}

.weather-card {
    display: flex;
    width: 440px;
    height: 250px;
    border-radius: 15px;
    box-shadow:  0 3px 10px rgba(13, 17, 35, 0.5);
    background-color: #324c67;
}

.weather-information {
    padding: 15px 0 0 15px;
    color: white;
}

.temperature {
    margin-bottom: 5px;
    font-size: 80px;
}

.weather-description {
    display: flex;
    align-items: center;
    font-weight: 200;
    text-transform: capitalize;
}

.small-icon {
    height: 35px;
}

.line {
    width: 180px;
    height: 1px;
    margin-bottom: 7px;
    background-color: white;
}

.wind {
    font-weight: 200;
    margin-bottom: 7px;
}

.humidity {
    font-weight: 200;
}

.big-icon {
    width: 215px;
    padding-left: 15px;
}

.loader {
    width: 48px;
    height: 48px;
    margin-top: 105px;
    margin-right: 190px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}